[Unit]
Description=BigLinux Snapshot Detect
After=multi-user.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 15
ExecStart=/usr/local/bin/biglinux-snapshot-detect

[Install]
WantedBy=default.target
